@import "tailwindcss";

/* Dark mode custom variant */
@custom-variant dark (&:where(.dark, .dark *));

/* Safe area en móviles */
:root {
  --safe-top: env(safe-area-inset-top);
  --safe-bottom: env(safe-area-inset-bottom);
}

/* Padding seguro */
.pb-safe {
  padding-bottom: var(--safe-bottom);
}

/* Body flexible y fondo fijo */
html, body, #root {
  min-height: 100dvh; /* mínimo alto para cubrir todo */
  margin: 0;
  padding: 0;
}

/* Contenedor de fondo absoluto/fijo */
.bg-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit; /* se adapta a dark/light */
  z-index: -10; /* detrás de todo */
}

/* Evita rebotes de scroll en móviles */
body {
  overscroll-behavior: none;
}
