@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --safe-bottom: env(safe-area-inset-bottom);
}

.pb-safe {
  padding-bottom: var(--safe-bottom);
}

html,
body,
#root {
  height: 100%;
}

body {
  overscroll-behavior: none;
}
