@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --safe-bottom: env(safe-area-inset-bottom);
}

.pb-safe {
  padding-bottom: var(--safe-bottom);
}

html,
body {
  width: 100%;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
}

